@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: open Sans;
	font-size: 14px;
	font-weight: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family:open Sans;
	}
a, a:hover{
	text-decoration: none;

}

/******** globel css code here**********/

.navbar-brand{
	padding: 0;
	margin-left: 68px;
}
.navbar-brand .img-fluid{
	max-width: 23%;
	height: auto;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size: 16px;
    margin-right: 7px;
    padding-right: 2px;
    font-weight: 600;
}
.nav-item{
	padding: 0px 6px;
	position: relative;
}
.nav-link:hover{
	color: #3bb44ade!important;
}
 .navbar-nav{
    padding-right: 139px;
}
header .nav-link:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #3bb44ade;
	left: 0;
	transform: scale(0);
	bottom: -2px;
	transition-duration: .5s;
}
header .nav-item:hover .nav-link:before{
	transform: scale(.6);
	bottom: 4px;


}


/*banner-section*/
.banner-section{
    background: #0B3B7A;
    padding: 60px 0px;
}
.banner-image{}
.banner-image img{}
.banner-image .img-fluid{
    width: 100%;
    padding-top: 100px;
}

.banner-conteant{
    width: 100%;
    padding: 100px  0px 0px 50px;
}
.banner-conteant h2{
    font-size: 46px;
    color: #ffff;
    font-weight: 600;
    line-height: 60px;
    margin-left: 23px;
    padding: 10px 0px;
}


.banner-conteant img}
.banner-conteant ul{}


.banner-conteant ul li{
    font-size: 19px;
    color: #ffff;
    line-height: 31px;
    font-weight: 600;
    margin-left: 15px;
}
.banner-conteant .btn{
    padding: 11px 53px;
    background: #FF764B;
    border-radius: 5px;
    margin: 30px;
}
.banner-conteant .btn:hover{
    box-shadow: 3px 1px 13px 3px #0000008a;
    transform: translateY(-5px);
    transition: all 0.3s linear !important;
}

/*business-section*/
.business-section{
    padding: 80px 0px;
    background: #FAFAFA;
}
.business-tex{}
.business-tex h2{
    font-size: 40px;
    font-weight: 700;
    color: #3BB44A;
    margin-bottom: 18px;
}
.business-tex p{
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    color: #94949B;
}
.business-tex .btn{
    padding: 15px 50px;
    background: #3BB44A;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.business-tex .btn:hover{
    box-shadow: 2px 5px 10px 0px #00000082;
    transform: translateY(-5px);
    transition: all 0.3s linear !important;
}


/*product-section*/
.product-section{
    padding: 80px 0px;
}
.product-section h2{
    font-size: 33px;
    font-weight: 700;
    color: #52535E;
}
.pages{}
.pages .btn{
    padding: 15px 50px;
    background: #3BB44A;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}
.pages .btn:hover{
    box-shadow: 2px 5px 10px 0px #00000082;
    transform: translateY(-5px);
    transition: all 0.3s linear !important;
}

.pages p{
    width: 80%;
    font-size: 20px;
    line-height: 28px;
    padding: 40px 0px;
    margin: 0px 39px;
    font-weight: 500;
    color: #94949B;
}
.pages-img{
    padding: 70px 43px;
    border: solid 1px #848484;
    width: 100%;
    background: #FAFAFA;
}
.pages-img img{margin: 6px 31px 19px 0;}
.one-img{
    /* padding: 0px 57px 0px; */
}
.one-img img{
    padding: 100px 43px;
    border: solid 1px #848484;
    width: 100%;
    background: #FAFAFA;
}

/*footer-section*/
.footer-section{
    padding: 30px 0px;
    background: #F2F1F1;
}
.footer-inner{
    justify-content: center;
}
.footer-inner h4{
	font-size: 20px;
	text-align: center;
	font-weight: 600;
	color: #52525B;
}
.footer-inner ul{
    padding: 0;
}
.footer-inner ul li{
    margin: 20px 0px;
    list-style: none;
}
.footer-inner ul li a{
    font-size: 16px;
    color: #828286;
    font-weight: 600;
}
.footer-inner ul li a span{
	    color: #4681D6;
}
.main-footer{background: #F2F1F1;}
.copy-right{}
.copy-right p{
    color: #828286;
    font-size: 14px;
    padding: 9px;
}
.main-footer .social-icon{padding-left: 220px;}
.main-footer .social-icon li{
    display: inline-block;
    font-size: 22px;
    margin: 0px 15px;
}
.main-footer .social-icon li a{
    font-size: 27px;
    color: #828286;
}



/*product menu section csss here*/
.banner-product{
    width: 100%;
    padding: 85px 0px;
    background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(242,242,242,1) 50%, rgba(242,242,242,1) 100%);
}
.banner-img{}
.banner-img img{}
.banner-tex{}
.banner-tex h3{
	font-size: 44px;
	font-weight: 700;
	line-height: 56px;
	color: #3bb44a;
	padding: 50px 0px;
}
.banner-tex p{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #94949B;
}
.product{}

/*about menu css code here*/
.header{
	width: 100%;
	padding:  80px 0px;
	/* background: linear-gradient(160deg, rgb(255,255,255,1)0%,  rgba(255,255,255,1) 50%,  transparent); */
}
.header-conteant{
    margin: 0px 0px -2px;
}
.header-conteant h2{
    font-size: 31px;
    font-weight: 700;
    color: #56565E;
}
.header-conteant p{
    font-size: 18px;
    font-weight: 600;
    color: #56565E;
    line-height: 41px;
    padding: 20px;
}
.img-inner{
    width: 80%;
    padding: 0px 1px 0px;
    margin: 0px 74px 0px;
}
.img-inner img{}
.header-conteant .btn{

padding: 15px 50px;

background: #3BB44A;

font-size: 14px;

text-transform: uppercase;

font-weight: 700;

color: #fff;
}
.header-conteant .btn:hover{

box-shadow: 2px 5px 10px 0px #00000082;

transform: translateY(-5px);

transition: all 0.3s linear !important;
}

/*about-section*/
.about-section{
    width: 100%;
    margin-bottom: -25px;
}
.client-img{}
.client-img img{
    width: 100%;
    height: auto;
}
.about-conteant{
    padding: 73px 0px;
    width: 100%;
}
.about-conteant h1{
    font-size: 37px;
    font-weight: 700;
    color: #52535E;
    margin-bottom: 33px;
}
.about-conteant p{
    font-size: 19px;
    font-weight: 600;
    color: #52535E;
    line-height: 36px;
}
.about-conteant a{
    font-size: 16px;
    font-weight: 500;
    color: #3BB44A;
}

/*signup-section*/
.signup-section{
    width: 100%;
    padding: 80px 0px;
    background: #52535E;
}
.signup-section h3{
    font-size: 23px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 7px;
}
.signup-section h1{
    font-size: 35px;
    font-weight: 700;
    color: #ffff;
    margin-bottom: 43px;
}
.from-control{
    padding: 14px 30px;
    font-size: 17px;
    width: 75%;
    font-weight: 600;
    margin-left: auto;
    display: block;
    text-align: center;
}
.signup-section .btn-primary{
    color: #fff;
    background: #4CAF50;
    border-color: #4CAF50;
    padding: 16px 30px;
    display: block;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
}
.signup-section .btn-primary:hover{}



/*grow-section menu css code here*/
.grow-section{
    padding: 0px;
}
.grow-image{
    margin: 0px -116px;
    padding-top: 44px;
}
.grow-image img{
}
/*portfalio-section*/
.portfalio-section{
    width: 100%;
    padding: 80px 0px;
    margin: 0 auto;
}
.card{
	margin: 30px 0px;
	box-shadow: 2px 4px 7px 0px #0000003d;
}
.card .card-body{
    height: 140px;
    text-align: center;
    background: #EDEDED;
}
.card p{
	font-size: 17px;
	font-weight: 700;
	line-height: 22px;
	color: #17383f;
}
.card:hover{
	    transform: scale(1.1);
    transition-duration: 1.9s;
}

/* contact section css code here*/
.contact-section{
    background: url(../images/bnn.jpg) top no-repeat;
    background-size: auto;
    margin-top: 90px;
    padding: 300px 0;
    position: relative;
}
.contact-text{
    position: absolute;
    float: right;
    top: 6%;
    left: 75%;
    transform: translate(-75%, -6%);
}
.contact-text p{
	font-size: 18px;
	font-weight: 500;
	color: #1f0d0d;
	line-height: 30px;
	padding: 10px 0px;
}
.contact-text h5{
    
    font-size: 18px;
    font-weight: 500;
    line-height: 33px;
}
.contact-text img{
    width: 50%;
    text-align: center;
    display: block;
    margin-top: 54px;
}
.contact-text span{
	    color: #3aaa35;
}



